@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    background-color: #0a0b14;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Modificado - Foi colocado um "display:flex; e o "justify-content: space-between;" para substituir os 420px de padding-left do logo*/
.cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 900px;
    height: 25px;
    padding: 25px 20px;
}

/*Modificado - Foi tirado os 420px do padding-left*/
.cabecalho-logo {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    padding-bottom: 10px;
    font-size: 25px;
}

/*Modificado - Foi colocado o "display:flex;" e um gap de 10px para substituir o "display: inline-block;" que estava na classe "menu-list-item"*/
.menu-list {
    display: flex;
    gap: 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-list-item__link {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.menu-list-item__link:hover {
    background-color: blueviolet;
    color: black;
}

main {
    margin-top: 25px;
}

.main-tittle {
    font-size: 45px;
    text-align: center;
}

.cards-wrapper {
    display: flex;
    margin-top: 45px;
    height: 390px;
    width: 1000px;

}

/*Modificado - Foi colocado um "flex-grow: 1; no lugar dos 350px de width / E tambem um box-shadow para ficar mais bonito*/
.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    background-color: #20212d;
    margin: 0px 10px;
    border-radius: 8px;
    padding-bottom: 30px;
    box-shadow: 0px 5px 15px -6px black;
}

.card-content {
    flex-grow: 1;
    width: 250px;
    padding-top: 5px;
}

.card-content__name {
    padding-bottom: 10px;
    border-bottom: 3px solid blueviolet;
}

.card-content__price {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.card-content__list {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px 0 0;
    list-style-position: inside;
}

.card-content__list-item {
    padding: 1px 0px;
    color: white;
}

.card-content__list-item::marker {
    color: blueviolet;
}

/*".card-content__list-item p" que estava aqui foi excluído e foi colocado um pseudo elemento na classe ".card-content__list-item"*/


.card-button__link {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1000;
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: blueviolet;
    border-radius: 5px;
    padding: 15px 100px;
}

.card-button__link:hover {
    background-color: white;
}