@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    min-height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(imagens/fulls/03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    background-color: #2e313b;
    width: 17%;
    padding: 5rem 2rem;
}

.header-content {
    text-align: right;
}

.perfil {
    width: 8rem;
    margin-bottom: 2rem;
}

.header-content-menu {
    list-style-type: none;
    font-size: 1.6rem;
}

.header-content-menu li {
    padding: 1.8rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.532);
}

.header-content-menu a {
    text-decoration: none;
    color: white;
}

.principal {
    background-color: #4e5262;
    width: 83%;
    opacity: .980;
}

.principal-content {
    margin-left: 5rem;
}

.principal-content h1 {
    font-size: 3rem;
    color: rgba(211, 211, 211, 0.638);
    margin: 8rem 0 3rem;
}

.principal-content p:first-of-type, .principal-content p:nth-of-type(2), .principal-content p:last-of-type{
    font-size: 1.8rem;
    color: rgb(214, 118, 29);
    font-weight: bold;
    margin-bottom: .8rem;
}

.principal-content p:nth-of-type(2), .principal-content p:last-of-type {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.principal-content p:nth-of-type(3) {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.71);
    margin-bottom: 3rem;
}

.social {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.social a {
    font-size: 1.6rem;
    text-decoration: none;
    color: white;
}

.social a:hover {
    color: rgb(235, 127, 25);
}




