@charset "UTF-8";

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%;
    margin: auto;
    margin-bottom: 60px;
}

h1 {
    color: rgb(30, 30, 122);
    background-color: rgb(178, 178, 255);
    text-align: center;
    padding-top: 5px;
    font-size: 46px;
}

#supernova {
    text-align: center;
}

h2 {
    color: rgb(30, 30, 122);
    background-color: #ccc;
    font-size: 36px;
    padding: 10px;
    border-bottom: 3px solid;
    margin-top: 40px;
    margin-bottom: 12px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    padding-left: 0;
}

li {
    list-style-position: inside;
}