@charset "UTF-8";

:root {
    --cor_1: #ff7833;
    --cor_2: #353a45;
    --cor_3: #4e5262;
    --cor_4: #2b2f37;

    --default-gap: 3rem;
}

* :not(ul, ol){
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    min-height: 100vh;
    width: 100vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(imagens/fulls/03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    background-color: var(--cor_2);
    width: 17vw;
    padding: 5rem 2rem;
}

.header-content {
    text-align: right;
}

.perfil {
    max-width: 10rem;
    margin-bottom: 2rem;
}

.header-content-menu ul {
    list-style-type: none;
    font-size: 1.6rem;
}

.header-content-menu li {
    padding: .2rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.532);
}

.header-content-menu a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1.6rem 0;
    transition: all .2s ease-in-out;
}

.header-content-menu a:hover, .header-content-menu a:focus {
    font-size: 1.7rem;
    background-color: #4e52625e;
    padding-right: 1rem;
}

.principal, .header {
    font-size: 1.6rem;
}

.principal {
    background-color: var(--cor_3);
    width: 83vw;
    opacity: .980;
    padding: 5rem 8rem 5rem 6rem;
}

.principal-content h1 {
    font-size: 4rem;
    color: #d3d3d3a3;
    margin-bottom: 5rem;
}

.principal-content h2 {
    font-size: 2.5rem;
    color: var(--cor_1);
    margin-bottom: 1rem;
}

.principal-content h3 {
    font-size: 1.8rem;
    color: var(--cor_1);
    margin-bottom: 1.8rem;
}

.principal-content h4 {
    font-size: 1.6rem;
    color: var(--cor_1);
    margin-bottom: 1.8rem;
}

.principal-content p {
    color: white;
    margin-bottom: 3rem;
}

.principal-content a {
    color: white;
}

.principal-content q, .principal-content cite, .principal-content blockquote {
    color: white;
}

.principal-content pre, .principal-content code {
    color: white;
}

.principal-content article p:not(.card-content p) {
    margin-bottom: 5rem;
}

.highlight {
    border-left: 1px solid var(--cor_1);
    padding-left: 2rem;
    margin-bottom: 2.2rem;
}

.underline {
    text-decoration: red wavy underline;
}

.row {
    display: flex;
    gap: var(--default-gap);
    margin-bottom: 5rem;
    justify-content: space-between;
}

.row + h4 {
    font-size: 2rem;
     margin-bottom: 1.5rem;
}

.row ul, ol {
    color: white;
}

.row > * {
    /* flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0%; */
    flex: 1 0 0%;
}

.card {
    width: 40vw;
    display: flex;
    flex-direction: column;
}

.card img {
    max-width: 100%;
}

.card-content {
    background-color: var(--cor_2);
    padding: 2rem 5rem 0 2rem;
}

.card-content h3 {
    font-size: 2.5rem;
}

.social {
    width: 40vw;
}

.social a {
    font-size: 1.4rem;
    text-decoration: none;
    font-style: normal;
    color: white;
    margin: 0 1rem;
}

.social a:hover {
    color: var(--cor_1);
}

.social img {
    width: 3.5rem;
    margin-right: 1rem;
}

.alternate {
    list-style-type: none;
    padding: 0;
}

.alternate li:not(:last-child) {
    border-bottom: 1px solid white;
}

.list-emoji {
    list-style-type: "\1F642";
}

input, textarea, select{
    width: 100%;
    padding: 1.2rem;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
}

input[type="radio"], input[type="checkbox"] {
    width: auto;
    margin-top: 1.5rem;
}

form label {
    display: block;
    color: white;
    margin-bottom: .5rem;
    padding-right: 1rem;
}

form .row {
    margin-bottom: 2rem;
}

.form-quiz {
    /* width: calc(50% - 1.5rem); */
    width: calc(50% - var(--default-gap)/2);
}

.btn {
    margin-top: 2rem;
    background-color: var(--cor_2);
    border: 3px solid var(--cor_4);
    color: white;
    cursor: pointer;
    padding: .8em 1.2em;
    border-radius: 5px;
}

.btn:hover, btn:focus {
    background-color: var(--cor_4);
}

.btn:active {
    background-color: var(--cor_3);
    color: var(--cor_4);
    font-weight: bolder;
}

.btn + .btn:not(.btn-full) {
    margin-left: 2rem;
}

.btn-stroke {
    background-color: transparent;
}

.btn-big {
    font-size: 1.6rem;
}

.btn-full {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: white;
    margin-bottom: 8rem;
}

th {
    text-transform: uppercase;
}

td, th {
    border-bottom: 2px solid var(--cor_4);
    padding: 1.5rem;
    text-align: left;
}

tr td:last-child, tr th:last-child {
    text-align: right;
}

.zebrada tr:nth-child(2n+1):not(thead > tr) {
    background-color: var(--cor_2);
}

.zebrada td, th {
    border: none;
}

.vertical td:not(:last-child), .vertical th:not(:last-child) {
    border-right: 2px solid var(--cor_4);
}










